<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contextgenesis.perplexy" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For in-app purchases -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".PerplexyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.QuestionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsActivityTheme" />
        <activity
            android:name=".ui.NumberLineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NumberLineTheme" />
        <activity android:name=".ui.CharacterStore" >
        </activity>
        <activity android:name=".ui.AboutActivity" >
        </activity>
        <activity android:name=".ui.ContributeActivity" >
        </activity>
        <activity android:name=".ui.LoadingActivity" >
        </activity>
        <activity android:name=".ui.HelpActivity" >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.contextgenesis.perplexy.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>
